body {
  background: orange;
}

li {
  border: 2px solid red;
}

#special { /* only selects the one with this id */
  background: yellow;
}

.class { /* allows to group certain things together so that only that certain group is selected */
  text-decoration: line-through;
}
